version: '3'

services:
  nginx:
    image: nginx:latest
    ports:
      - 8080:80

  falco:
    image: falcosecurity/falco:latest
    privileged: true
    volumes:
      - ./rules/:/etc/falco/rules.d
      - /var/run/docker.sock:/host/var/run/docker.sock
      - /dev:/host/dev
      - /proc:/host/proc:ro
      - /boot:/host/boot:ro
      - /lib/modules:/host/lib/modules:ro
      - /usr:/host/usr:ro
